body {
    text-align: center;
    background-image: linear-gradient(white, black, red);
}

.navbar {
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon {
    width: 70px;
    height: 70px;
    left: 50;
    margin-bottom: -50px;
    margin-left: 30px;
}

h3 {
    color: #e74c3c;
    font-family: 'Cinzel', serif;
    font-weight: 300;
    font-size: 50px;
    line-height:1.3;
    margin-top: 17px;

}

h3 span {
    background: #e74c3c;
    color: #fff;
    display: inline-block;
    line-height: 1.8;
    padding: 0 16px;
}

.menu {
    float: left;
    height: 70px;
    margin-bottom: 90px;
    margin-left: 110px;
}

ul{
    float: left;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 200px;
}

.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #e74c3c;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #e74c3c;
    margin-right: 30px;
}

.button:hover {
    background-color: #e74c3c
}

.button:active {
    background-color: #e74c3c;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.search {
    width: 30%;
    border: 3px solid #e74c3c;
    padding: 5px;
    height: 20px;
    border-radius: 5px;
    outline: none;
    color: black;
    margin-left: -30px;
    margin-top: 10px;
}

.search:focus {
    color: black;
}

.videos {
    margin: auto;
    padding: 10px;
    margin-top: 150px;
}

h1 { 
    font-family: Bookman, URW Bookman L, serif; 
    line-height: 1.25; 
    margin: 0 0 10px; 
    font-size: 40px; 
    font-weight: bold;
    color: #e74c3c; 
    text-shadow: 2px 2px black;
}

h4 {
    font-family: FreeMono, monospace;
    font-weight: 300;
    font-size: 26px;
    line-height: 1.4em;
    color: floralwhite;
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    background: #e74c3c;
    color: white;
}

p {
    color: white;
    font-family: Arial Narrow, sans-serif;
}